dist/
dist-newstyle/
.stack-work/
.hsenv/
doc/
wiki
TAGS
tags
wip
.DS_Store
.*.swp
.*.swo
*.o
*.hi
*~
*#
.cabal-sandbox/
cabal.sandbox.config
codex.tags
src/highlight.js
src/style.css
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
